<h1>User Login</h1>

<%= form_tag '/sessions', method: :post do %>

<%= label_tag :email %>
<%= text_field_tag :email %>
</div>

<div>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
</div>

<%= submit_tag  "Login" %>

<% end %>