<h1>Create a new post!</h1>
<% if current_user %>
  <%= form_tag '/posts', method: :post do %>

  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>

  <div>
    <%= label_tag :post_text %>
    <%= text_field_tag :post_text %>
  </div>

  <div>
    <%= hidden_field_tag :user_id, current_user.id %>
  </div>
  
  <div>   
  <%=collection_select  :category , :category_id , Category.all , :id , :name  %>
  </div>

  

  <%= submit_tag %>
 <% end %>

<% else %>
  <h3><%= link_to 'Must Login', "/sessions/login" %></h3>
<% end %>
